# Docker Compose file for Vapor
#
# Install Docker on your system to run and test
# your Vapor app in a production-like environment.
#
# Note: This file is intended for testing and does not
# implement best practices for a production deployment.
#
# Learn more: https://docs.docker.com/compose/reference/
#
#   Build images: docker compose build
#      Start app: docker compose up app
# Start database: docker compose up db
# Run migrations: docker compose run migrate
#       Stop all: docker compose down (add -v to wipe db)
#

volumes:
  db_data:
  
services:
  app:
    image: florshopauth:latest
    container_name: FlorAuth
    build:
      context: .
    env_file:
      - .env.production
    depends_on:
      - db
    ports:
      - '8081:8081'
    volumes:
      - /mnt/Disk1WDSSD/FlorShopAuth/keys:/app/keys:ro  # Montaje del volumen
    # user: '0' # uncomment to run as root for testing purposes even though Dockerfile defines 'vapor' user.
    command: ["serve", "--env", "production", "--hostname", "0.0.0.0", "--port", "8081"]
  migrate:
    image: florshopauth:latest
    build:
      context: .
    env_file:
      - .env.production
    depends_on:
      - db
    command: ["migrate", "--yes"]
    deploy:
      replicas: 0
  revert:
    image: florshopauth:latest
    build:
      context: .
    env_file:
      - .env.production
    depends_on:
      - db
    command: ["migrate", "--revert", "--yes"]
    deploy:
      replicas: 0
  db:
    image: postgres:16-alpine
    container_name: FlorAuthDB
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env.production
    ports:
      - '5433:5432'
